# You Shouldn't Commit These Into Source Control!
# These Are The Default Directory Names, Adjust Or Add To Fit Your Needs!
# These Directories Are Not Tracked By Version Control!

target/
dbt_packages/
logs/
dbt_internal_packages/